<p>Create Your Yelp Account</p>

<article id="new-user-signup">
  <form action="/users" method="post">
    <input name="user[email]" type="text" placeholder="Email" required>
    <input name="user[password]" type="password" placeholder="Password" required>
    <input type="submit" value="Sign Up">
  </form>
</article>
