<p>Hello, <%= @user.email %>!</p>

<ul>
  <% @user.restaurants.each do |restaurant| %>
  <li><%= restaurant.name %></li>
  <% end %>
</ul>

<ul>
  <% @user.reviews.each do |review| %>
  <li><%= review.body %></li>
  <% end %>
</ul>
