<article class="new-restaurant-form-container"></article>

<h2 class="new-restaurants-headline">Newly Reviewed Restaurants</h2>


<ul class="restaurants-list">
<% @restaurants.each do |restaurant| %>
  <%= erb :'restaurants/_single_restaurant', layout: false, locals: {restaurant: restaurant} %>
  <%end%>
</ul>
