<p>Restaurants index</p>


<ul>
<% @restaurants.each do |restaurant| %>

  <li><a href="restaurants/<%= restaurant.id %>"><%= restaurant.name %> </a> - created by <%= restaurant.user %>
    <a href="reviews/new">Review <%= restaurant.name %></a>
  </li>
  <%end%>
</ul>
