<section id="new-restaurant-form">
<form action="/restaurants" method="post">
  <input name="restaurant[name]" type="text" placeholder="Name" required>
  <input name="restaurant[cuisine]" type="text" placeholder="Cuisine" required>
  <input name="restaurant[city]" type="text" placeholder="City">
  <input name="restaurant[state]" type="text" placeholder="State">
  <input name="restaurant[zip]" type="integer" placeholder="ZIP">
  <input type="submit" value="Create Restaurant">
</form>
</section>
