<form action="/reviews" method="post">
  <input name="review[rating]" type="integer" placeholder="Rating" required>
  <input name="review[body]" type="text" placeholder="Write a review">
  <input type="submit" value="Submit Your Review">
</form>
